.header {
    font-family: Garamond, serif;
    font-weight: lighter;
    font-size: 60px;
    text-align: center;
    color: rgb(220, 20, 60);
    background-color: rgba(60, 195, 226, 0.376);
}

.image {
    height: auto;
    width: 320px;
    border-radius: 10px;
}

.link {
    color: rgb(205, 134, 47);
    font-family: Trebuchet MS, sans-serif;
    font-weight: 600;
}